@media screen and (max-width:480px){
    body{
        background-color: red;
    }
    /* #small{
        font-size: 10px;
    }
    #small h1{
        font-size: 20px;
    }
    #medium, #large{
        display : none;
    } */
    .container{
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
}

@media screen and (min-width:480px){
    body{
        background-color: green;
    }
    /* #medium{
        font-size: 20px;
    }
    #medium h1{
        font-size: 30px;
    }
    #small, #large{
        display : none;
    }  */
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr ;
     }
    #small{
        grid-column: 2/3;
        grid-row: 1fr;
    }
    #medium{
        grid-column: 1/3;
        grid-row: 1fr;
    }
    #large{
        grid-column: 1;
        grid-row: 1fr;
    } 


    }
}

@media screen and (min-width:1024px){
    body{
        background-color: blue;
    }
    /* #large{
        font-size: 30px;
        display: ;
    }
    #large h1{
        font-size: 40px;
    }
    #small, #medium{
        display : none;
    } */
    /* div{
        display: flex;
    } */
}